<div style="font-family: Arial;">

    <img src="{{server_url}}/static/img/wordmark.png" alt="logo" style="width: 80vw; height: auto; max-width: 400px;">

    <p>Hi {{user.name}},</p>

    <p>Someone has requested a link to change your password. You can do this at the link below.</p>

    <p><a href="{{reset_link}}">Change my password</a></p>

    <p>If you didn't request this, please ignore this email.</p>

    <p>Your password won't change until you access the link above and create a new one.</p>
    
</div>"