<div style="font-family: Arial;">

    <img src="{{server_url}}/static/img/wordmark.png" alt="Wiki Wall Street Logo" style="width: 80vw; height: auto; max-width: 20em; max-height: 5em;">

    <p>Hi {{user.name}},</p>

    <p>
        You can click <a href="{{reset_link}}"> this link </a> to reset your password,
        or copy and paste this into your browser: <a href="{{reset_link}}">{{reset_link}}</a>
    </p>

    <p>If you didn't request this reset link, please ignore this email.</p>

    <p>- Wiki Wall Street</p>
    
</div>