<div style="font-family: Arial;">

    <img src="{{server_url}}/static/img/wordmark.png" alt="Wiki Wall Street Logo" style="width: 80vw; height: auto; max-width: 20em; max-height: 5em;">

    <p>Hi {{name}},</p>

    <p> Welcome to Wiki Wall Street! </p>

    <p> 
        Things are still kind of rough, 
        so I'd love to know about any feedback you have or any bugs you find!
        You can open an issue on <a href="https://github.com/quoctran98/Wiki-Wall-Street">GitHub</a> or
        contact me on <a href="https://twitter.com/quoctran98">Twitter</a> --
        also please donate to the <a href="https://wikimediafoundation.org/support/">Wikimedia Foundation</a>
        if you can
        (I feel bad for using their API so much).
    </p>

    <p>
        You can get started by <a href="{{server_url}}/login">logging in</a> and creating or joining a game!
        If you're lost at all, take a look at the <a href="{{server_url}}/help">help page</a>
        for more information!
    </p>

    <p>Love,</p>

    <p>Quoc</p>

    <p>
        P.S. Feel free to join the
        <a href="https://wiki-wall-street.com/invite/game_e0f0963707154fae93a8809483b810b0">New Game</a>
        game -- it's the one with the most players and it's public!

</div>