<p>
    I keep calling this <b>"the stock market game but for Wikipedia articles"</b>
    but it turns out that not a lot of people know what 
    <a href="https://www.marketwatch.com/games" target="_blank" rel="noopener noreferrer">the stock market game</a> is
    -- it's a game where you have fake money that you can use to buy and sell fake stocks,
    which track the value of real stocks. I played it in twelfth grade for a week as the only part of
    my "economics unit" in my history class, which is why I'm bad with money 
    and spending like <s>$15</s> $25 a month to host this thing.
  </p>
  <p>
    Here, you have fake money to <b>buy and sell Wikipedia article "stocks"</b>
    -- the price of the articles are the number of <b>page views</b> that the article gets that day.
    If you're able to <b>predict trends in the popularity</b> of Wikipedia articles, you'll make more (fake) money!  
  </p>
  <p>
    A few more things: <b>Wikipedia only updates their pageviews data once a day</b> 
    and everything in this game <em>should</em> update at <b>7 AM UTC (12 AM Pacific)</b>.
    I've also added <b>themes</b> and <b>banlists</b> to the game -- you can find more information about those
    <a href="{{ url_for('main.categories') }}">here</a>!
  </p>