<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Icons, CSS, and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css')}}"" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css')}}"" />
    <!-- <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js.map')}}"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}" />

    <!-- Main Script (for global functions) -->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    
    <!-- Add custom OpenGraph content -->
    {% if custom_og %}
        <meta property="og:title" content="{{ custom_og['title'] }}" />
    {% else %}
        <meta property="og:title" content="Wiki Wall Street" />
    {% endif %}
    <meta property="og:description" content="The stock market game but for Wikipedia articles! Join a game and predict trends in article popularity!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://wiki-wall-street.com" />
    <meta property="og:image:url" content="{{ url_for('static', filename='img/favicon.png') }}" />

    <title>Wiki Wall Street 📖📈</title>

</head>

<body>
    <div class="gets-blurred">

    <!-- PADDING ROW -->
    <div class="row"><div class="col-md-12"><br></div></div>

    <div class="row">
        
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <!-- TITLE -->
            <a href="{{ url_for('main.index') }}" style="all: unset;">
                <h1 class="title" style="float: left;">
                    <img src="{{ url_for('static', filename='img/wordmark.png') }}" alt="Wiki Wall Street Wordmark" style="max-height: 1.5em; max-width: 90vw;">
                </h1>
                <!-- <h1 class="title" style="float: left;">
                    Wiki Wall Street
                </h1> -->
            </a>

            <!-- NAVBAR -->
            <nav class="navbar navbar-toggleable-lg navbar-expand rounded" style="float: right;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.help') }}">How To Play</a>
                    </li> -->
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
                    </li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            {{ current_user.name }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('main.profile', name=current_user.name) }}">Profile</a>
                            <a class="dropdown-item" href="{{ url_for('admin.account') }}">Account Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                        </div>
                      </li>
                    {% endif %}
                </ul>
        </nav>
        </div>

        <div class="col-md-2"></div>
     </div>
    </div>

    <hr>

    <!-- FLASH MESSAGES -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="container has-text-centered">
                <div class="alert {{ category }}" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    </div>

    <!-- CONTENT INSERTED BY DIFFERENT PAGES -->
    <div>
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
    </div>
</body>

<footer>
    <br>
    <hr>
    <div class="row gets-blurred">
        <div class="col-md-12">
            <p class="text-center" style="font-size:medium;">
                <a href="https://wikimediafoundation.org/support/" target="_blank" rel="noopener noreferrer"><img class="inline-image" src="{{ url_for('static', filename='img/Wikimedia-logo.png')}}"></img> Donate to the Wikimedia Foundation!</a>
                <br>
                <a href="https://github.com/quoctran98/Wiki-Wall-Street" target="_blank" rel="noopener noreferrer"><img class="inline-image" src="{{ url_for('static', filename='img/GitHub-Mark-32px.png')}}"></img> Github</a>
                <a href="https://twitter.com/quoctran98" target="_blank" rel="noopener noreferrer"><img class="inline-image" src="{{ url_for('static', filename='img/Twitter-Icon.png')}}"></img> Twitter</a>
                <a href="https://ko-fi.com/quoctran98" target="_blank" rel="noopener noreferrer"><img class="inline-image" src="{{ url_for('static', filename='img/Ko-fi-logo.png')}}"></img> Ko-fi</a>
                <br>
                QUO© 2023
                - 
                <a href="https://github.com/quoctran98/Wiki-Wall-Street/issues" target="_blank" rel="noopener noreferrer">Report Issues</a>
                -
                <a href="#" target="_blank" rel="noopener noreferrer">Contact Me</a>
            </p>
        </div>
    </div>
</footer>

</html>
