{% extends "base.html" %}

{% block content %}

<div class="gets-blurred">
    <h2>Why can't I buy some articles?</h2>

    <p>
        Some articles are banned from the game if they're not in a game's theme 
        or if they have too few views -- these are defined in each game's settings!
    </p>

    <h2>What are categories?</h2>
    
    <p>Categories are a way to play the game with a specific theme or set of articles.</p>

    <p>
        I'm working to implement a way to view and edit the lists in game, but for now, you can find these lists 
        <a href="https://github.com/quoctran98/Wiki-Wall-Street/tree/master/server/categories">here</a> :)
    </p>

    <p>
        Currently the Default Banlist won't allow you buy the Wikipedia articles 
        for specific days, months, or annual holidays 
        (e.g. <a href="https://en.wikipedia.org/wiki/May_15">May 15</a>, 
        <a href="https://en.wikipedia.org/wiki/February">February</a>,
        <a href="https://en.wikipedia.org/wiki/Christmas">Christmas</a>).
    </p>

</div>

{% endblock %}