{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-2">
    </div>
    
    <div class="col-md-4">
        <h3 class="title">Reset Password</h3>
        <p> Enter your email address and we'll send you a link to reset your password. </p>
        <br>
        <div class="box">
            <form method="POST" id="forgot-password-form" action="{{ url_for('admin.forgot_password_post') }}">
                <input type="hidden" id="next" name="next" value="{{ next }}">

                <div class="input-group">
                    <span class="input-group-text"><i class="bi-envelope"></i></span>
                    <input class="form-control" type="email" id="email" name="email" placeholder="Email" autofocus="">
                </div>

                <br><br>
                
                <button id="reset-password-button" class="btn btn-primary" diabled="true">Reset Password</button>
            </form>
        </div>
    </div>
    
    <div class="col-md-6">
    </div>
    
</div>

<!-- FILL OUT NEXT FORM WITH URL PARAM-->
<!-- I CANNOT BELIEVE THIS WOKRS -->
<script type="text/javascript">
    let next_url = window.location.href.split("next=")[1];
    if (next_url !== undefined) {
        // Decode next_url 
        next_url = decodeURIComponent(next_url);
        $("#next").val(next_url);
    }

    // Also disable button if email is empty
    $("#email").keyup(function() {
        if ($("#email").val() === "") {
            $("#reset-password-button").prop("disabled", true);
        } else {
            $("#reset-password-button").prop("disabled", false);
        }
    });

    // Disable fields once form is submitted
    $("#forgot-password-form").submit(function() {
        $("#email").prop("readonly", true);
        $("#reset-password-button").prop("disabled", true);
    });
</script>

{% endblock %}