{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome, {{ current_user.name }}!
</h1>

<h2 class="subtitle">
    Here are your active games:
</h2>

<!-- NEW GAME MODAL -->
<div class="modal" id="new-game-modal">
    <div class="modal-dialog" role="document">
    <div class="modal-content">

    <!-- MODAL HEADER -->
    <div class="modal-header">
        <h5 class="modal-title">CREATE NEW GAME!</h5>

        <!-- CLOSE BUTTON -->
        <button type="button" class="close" id="new-game-modal-close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- MODAL BODY -->
    <div class="modal-body">
        <form action="{{ url_for('game.create_game') }}" method="POST" id="new-game-modal-form">
            <input type="hidden" name="user_id" value="{{ current_user.id }}">

            <label for="new-game-modal-game-name">Game Name</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input class="form-control" type="text" name="game_name" placeholder="New Game" autofocus="" id="new-game-modal-game-name">
            </div>
            
            <label for="new-game-modal-starting-cash">Starting Cash</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="number" name="starting_cash" id="new-game-modal-starting-cash" value="1000000">
            </div>

            <hr>
            
            <h6> Show Other Players':</h6>

            <div class="checkbox">
                <label><input type="checkbox" name="show_cash"> Cash</label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" name="show_articles" id="new-game-show-articles"> Articles Owned</label>
            </div>

            <div class="checkbox">
                <label >
                    <input type="checkbox" name="show_number" id="new-game-show-number" disabled="true">
                    <span style="color: #E5E5E5;" id="new-game-show-number-label"> Number of Each Article</span>
                </label>
            </div>

            <hr>

            <div class="checkbox">
                <label><input type="checkbox" name="public_game"> Make Game Public</label>
            </div>
    </form>
    </div>
    
    <!-- MODAL FOOTER -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="new-game-modal-cancel">Cancel</button>
        <button type="submit" class="btn btn-primary" id="new-game-modal-create" form="new-game-modal-form" disabled="true">Create</button>
    </div>

    </div>
    </div>
</div>

<!-- JOIN GAME MODAL -->
<div class="modal" id="join-game-modal">
    <div class="modal-dialog" role="document">
    <div class="modal-content">

    <!-- MODAL HEADER -->
    <div class="modal-header">
        <h5 class="modal-title">JOIN GAME!</h5>

        <!-- CLOSE BUTTON -->
        <button type="button" class="close" id="join-game-modal-close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- MODAL BODY -->
    <div class="modal-body">
        <form action="{{ url_for('game.join_game') }}" method="POST" id="join-game-modal-form">
            <input type="hidden" name="user_id" value="{{ current_user.id }}">
            <input type="text" name="game_id" id="join-game-modal-game-id" placeholder="Game ID">
    </form>
    </div>
    
    <!-- MODAL FOOTER -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="join-game-modal-cancel">Cancel</button>
        <button type="submit" class="btn btn-primary" id="join-game-modal-join" form="join-game-modal-form" disabled="true">Join</button>
    </div>

    </div>
    </div>
</div>

<!-- GRID OF GAME CARDS -->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row" id="game-cards-grid"></div>
    </div>
    <div class="col-md-1"></div>
</div>
    
<p>
    {% for game_id in current_user.joined_games %}
        <li> <a href="{{ url_for('game.play', game_id=game_id) }}"> {{ game_id }} </a> </li>
    {% endfor %}
</p>

<h2>PUBLIC GAMES</h2>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="public-game-cards-grid"></div>
    <div class="col-md-2"></div>
</div>

<form action="{{ url_for('game.join_game') }}" method="post">
    
</form>

<script src="{{url_for('static', filename='js/load-game-cards.js')}}"></script>

{% endblock %}