<p>
  <b>Create</b> a new game for you and your friends or <b>join</b> a one!
  Join a private game with its <b>Game ID</b> or an <b>invite link</b>. You can join a public game by finding one in the table!
<p>

<p>
  Once you're in a game, you can <b>buy and sell Wikipedia articles</b> using your <b>cash</b>.
  "Prices" are based on the number of <b>page views</b> that the article gets that day.
  You can use the play page to look up articles, see their pageview trends, and buy and sell them!
  Compete against your friends to see who can predict the popularity of Wikipedia articles the best!
</p>

<ol>
  <li>
    <ins><b>Game Information</b></ins> Shows the name of this game, how much cash you have, and your ranking.
  </li>
  <li>
    <ins><b>Search for Articles</b></ins> Type in the search bar to look up any Wikipedia article!
  </li>
  <li>
    <ins><b>Pageview Trends</b></ins> Look at the pageview trends over any timespan -- the current "price" of the article is its latest daily pageview count and is displayed next to the article name alongside its percent change! Click on the article name to look at its Wikipedia page!
  </li>
  <li>
    <ins><b>Buy and Sell Articles</b></ins> Click on a "Buy" button to buy an article and a "Sell" button to sell it if you own it -- use the number inputs to buy or sell a custom amount!
  </li>
  <li>
    <ins><b>Portfolio Banner</b></ins> See which articles you own and their average buy prices -- click on one to see its pageview trends!
  </li>
  <li>
    <ins><b>Leaderboard Banner</b></ins> Check how other players are doing -- the card displays their portfolio value and daily percent change. Click on the one to see more information about the player's portfolio!
  </li>
  <li>
    <ins><b>Trending Articles</b></ins> Look at Wikipedia's trending articles for the day! Click on one to see its pageview trends!
  </li>
  <li>
    <ins><b>More Stuff</b></ins> Click on these buttons to open the game chat, see players in the game (or leave the game), and check the game's settings!
  </li>
</ol>

<img style="max-width: 100%; max-height: 80vh;display: block; margin-left: auto; margin-right: auto;" src="{{url_for('static', filename='img/tutorial.png')}}" alt="Tutorial Image">
