{% extends "base.html" %}

{% block content %}

<div class="gets-blurred">

<div class="alert alert-info" role="alert">
  Hi! I've added the ability to create <b>themed games</b> and games with <b>article banlists</b>!
  I still have to generate these lists somewhat manually, but let me know if you have any suggestions (or can help out)!
  You can find these lists <a href="https://github.com/quoctran98/Wiki-Wall-Street/tree/master/server/categories">here</a>
  for now :) 
</div>

<!-- GAME EXPLANATION -->
<h2>What is this game?</h2>

<p>
  I keep calling this <b>"the stock market game but for Wikipedia articles"</b>
  but it turns out that not a lot of people know what 
  <a href="https://www.marketwatch.com/games" target="_blank" rel="noopener noreferrer">the stock market game</a> is
  -- it's a game where you have fake money that you can use to buy and sell fake stocks,
  which track the value of real stocks. I played it in twelfth grade for a week as the only part of
  my "economics unit" in my history class, which is why I'm bad with money 
  and spending like <s>$15</s> $25 a month to host this thing.
</p>
<p>
  Here, you have fake money to <b>buy and sell Wikipedia article "stocks"</b>
  -- the price of the articles are the number of <b>page views</b> that the article gets that day.
  If you're able to <b>predict trends in the popularity</b> of Wikipedia articles, you'll make more (fake) money!  
</p>
<p>
  Create or join a game with your friends! Click <a href="{{ url_for('main.help') }}">here</a> for more information!
</p>
<p>
  Oh also, <b>Wikipedia only updates their pageviews data once a day.</b>
  I <i>think</i> that I've made it so that all games update at the same time, but I'm not sure.
  All the daily pageviews and portfolio values should upate at <b>7:00 AM UTC</b> (12:00 AM PDT)
  based on the previous day's pageviews.
</p>

<!-- SHOW EITHER LOGIN/SIGNUP BUTTONS OR THE GAME TABLE -->
{% if not current_user.is_authenticated %}

  <p>
    <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Login</a>
    <a href="{{ url_for('auth.signup') }}" class="btn btn-primary">Sign Up</a>
  </p>

{% else %}

  {% if current_user.joined_games|length == 0 %}

    <h3>
      You're not in any games! Create a new game or join a public game to get started!
    </h3>
    <hr>

  {% else %}

  <div>
    <hr>
    <h2>Your Games!</h2>
    <table class="table table-striped" id="joined-games-table">
      <tr>
        <th><i class="bi-card-text"></i> Game Name</th>
        <th><i class="bi-people-fill"></i> Players</th>
        <th><i class="bi-graph-up-arrow"></i> Daily Change</th>
        <th></th>
      </tr>
      <tr id="joined-games-loading">
        <th>Loading <img class="inline-image" src="{{url_for('static', filename='img/loading.gif')}}" alt="Loading..."></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>
  </div>

  {% endif %}

  <p>
    <button id="new-game-button" class="btn btn-primary" data-toggle="modal" data-target="#new-game-modal"><i class="bi-joystick"></i>  Create a Game</button>
    <button id="join-game-button" class="btn btn-primary" data-toggle="modal" data-target="#join-game-modal"><i class="bi-person-plus"></i> Join a Game</button>
  </p>

  <hr>

  <div>
    <h2>Public Games!</h2>
    <table class="table table-striped" id="public-games-table">
      <tr>
        <th><i class="bi-card-text"></i> Game Name</th>
        <th><i class="bi-people-fill"></i> Players</th>
        <th></th>
      </tr>
    </table>
  </div>

  <script src="{{url_for('static', filename='js/home-game-table.js')}}"></script>

{% endif %}

</div>

{% include "modals/new-game.html" %}
{% include "modals/join-game.html" %}

{% endblock %}
