{% extends "base.html" %}

{% block content %}

<div class="gets-blurred">

<div class="alert alert-success" role="alert">
  Hi, thanks for playing my game! Things are still kind of rough, 
  so I'd love to know about any feedback you have or any bugs you find!
  You can open an issue on <a href="https://github.com/quoctran98/Wiki-Wall-Street" target="_blank" rel="noopener noreferrer">GitHub</a> or
  contact me on <a href="https://twitter.com/quoctran98" target="_blank" rel="noopener noreferrer">Twitter</a> --
  also please donate to the <a href="https://wikimediafoundation.org/support/" target="_blank" rel="noopener noreferrer">Wikimedia Foundation</a>!
  (I feel bad for using their API so much)
  - Quoc 
</div>

<!-- GAME EXPLANATION -->
<div class="alert alert-info" style="color: black;">
  <a data-toggle="collapse" href="#game-explainer" style="color: inherit; text-decoration: inherit;">
    <h2>What is this game?</h2>
  </a>

  <div id="game-explainer" class="collapse show inner-collapse">
    {% include "info/what-is-this-game.html" %}
  </div>
</div>

<!-- HOW TO PLAY -->
<div class="alert alert-info" style="color: black;">
  <a data-toggle="collapse" href="#how-to-play" style="color: inherit; text-decoration: inherit;">
    <h2>How do I play?</h2>
  </a>
  <div id="how-to-play" class="collapse hide inner-collapse">
    {% include "info/how-do-i-play.html" %}
    <br>
  </div>
</div>

<br>

<!-- SHOW EITHER LOGIN/SIGNUP BUTTONS OR THE GAME TABLE -->
{% if not current_user.is_authenticated %}

  <p>
    <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Login</a>
    <a href="{{ url_for('auth.signup') }}" class="btn btn-primary">Sign Up</a>
  </p>

{% else %}

  {% if current_user.joined_games|length == 0 %}

    <h3>
      You're not in any games! Create a new game or join a public game to get started!
    </h3>
    <hr>

  {% else %}

  <div>
    <hr>
    <h2>Your Games!</h2>
    <div class="table-responsive">
      <table class="table table-striped" id="joined-games-table">
        <tr>
          <th><i class="bi-card-text"></i> Game Name</th>
          <th><i class="bi-people-fill"></i> Players</th>
          <th><i class="bi-graph-up-arrow"></i> Daily Change</th>
          <th></th>
        </tr>
        <tr id="joined-games-loading">
          <th>Loading <img class="inline-image" src="{{url_for('static', filename='img/loading.gif')}}" alt="Loading..."></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </table>
    </div>
  </div>

  {% endif %}

  <p>
    <button id="new-game-button" class="btn btn-primary" data-toggle="modal" data-target="#new-game-modal"><i class="bi-joystick"></i>  Create a Game</button>
    <button id="join-game-button" class="btn btn-success" data-toggle="modal" data-target="#join-game-modal"><i class="bi-person-plus"></i> Join a Game</button>
  </p>

  <hr>

  <div>
    <h2>Public Games!</h2>
    <div class="table-responsive">
      <table class="table table-striped" id="public-games-table">
        <tr>
          <th><i class="bi-card-text"></i> Game Name</th>
          <th><i class="bi-people-fill"></i> Players</th>
          <th></th>
        </tr>
      </table>
    </div>
  </div>

  <script src="{{url_for('static', filename='js/home-game-table.js')}}"></script>

{% endif %}

</div>

{% include "modals/new-game.html" %}
{% include "modals/join-game.html" %}

{% endblock %}
