{% extends "base.html" %}

{% block content %}
<div class="gets-blurred">

<h2>
    You've been invited to join a Wiki Wall Street game!
</h2>

<p>
    Wiki Wall Street is <b>"the stock market game but for Wikipedia articles"</b>
</p>
<p>
    In a game, you have fake money to <b>buy and sell Wikipedia article "stocks"</b>
    -- the value of these stocks is based on the number of <b>page views</b> that the article gets that day.
    If you're able to <b>predict trends in the popularity</b> of Wikipedia articles, you'll make more (fake) money!
</p>

<div id="game-information">
    <p>Loading game information <img class="inline-image" src="{{ url_for('static', filename='img/loading.gif') }}" alt="Loading..."></p>
</div>

{% if current_user.is_authenticated %}

<button id="join-game-button" class="btn btn-primary" disabled="true">Join Game</button>

{% else %}

<h2>Log in or sign up to join the game!</h2>
<button id="login-button" class="btn btn-primary">Log in</button>
<button id="signup-button" class="btn btn-primary">Sign up</button>

{% endif %}

</div>

<!-- JOIN GAME MODAL -->
<div class="modal" id="join-game-modal">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
  
    <!-- MODAL HEADER -->
    <div class="modal-header">
        <h5 class="modal-title">JOIN GAME!</h5>
  
        <!-- CLOSE BUTTON -->
        <button type="button" class="close" id="join-game-modal-close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  
    <!-- MODAL BODY -->
    <!-- slightly different than the main page :) -->
    <div class="modal-body">
        <form action="{{ url_for('game.join_game') }}" method="POST" id="join-game-modal-form">
            <input type="hidden" name="user_id" value="{{ current_user.id }}">
            <input type="text" name="game_id" id="join-game-modal-game-id" readonly="true" placeholder="Game ID">
        </form>
  
        <div id="join-game-modal-info">
            <p>Enter a game ID!</p>
        </div>
    </div>
    
    <!-- MODAL FOOTER -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="join-game-modal-cancel">Cancel</button>
        <button type="submit" class="btn btn-primary" id="join-game-modal-join" form="join-game-modal-form">Join</button>
    </div>
  
    </div>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/invite-page.js') }}"></script>

{% endblock %}

