{% extends "base.html" %}

{% block content %}
<div class="gets-blurred">

<h2>
    You've been invited to join a Wiki Wall Street game!
</h2>

<p>
    Wiki Wall Street is <b>"the stock market game but for Wikipedia articles"</b>
</p>
<p>
    In a game, you have fake money to <b>buy and sell Wikipedia article "stocks"</b>
    -- the value of these stocks is based on the number of <b>page views</b> that the article gets that day.
    If you're able to <b>predict trends in the popularity</b> of Wikipedia articles, you'll make more (fake) money!
</p>

<div id="game-information">
    <p>Loading game information <img class="inline-image" src="{{ url_for('static', filename='img/loading.gif') }}" alt="Loading..."></p>
</div>

{% if current_user.is_authenticated %}

<button id="join-game-button" class="btn btn-primary" disabled="true">Join Game</button>

{% else %}

<h2>Log in or sign up to join the game!</h2>
<button id="login-button" class="btn btn-primary">Log in</button>
<button id="signup-button" class="btn btn-primary">Sign up</button>

{% endif %}

<h2>How do I play?</h2>

<p>
  <b>Create</b> a new game for you and your friends or <b>join</b> a one!
  Join a private game with its <b>Game ID</b> or an <b>invite link</b>. You can join a public game by finding one in the table!
<p>

<p>
  Once you're in a game, you can <b>buy and sell Wikipedia articles</b> using your <b>cash</b>.
  "Prices" are based on the number of <b>page views</b> that the article gets that day.
  You can use the play page to look up articles, see their pageview trends, and buy and sell them!
  Compete against your friends to see who can predict the popularity of Wikipedia articles the best!
</p>

<ol>
  <li>
    <ins><b>Game Information</b></ins> Shows the name of this game, how much cash you have, and your ranking.
  </li>
  <li>
    <ins><b>Search for Articles</b></ins> Type in the search bar to look up any Wikipedia article!
  </li>
  <li>
    <ins><b>Pageview Trends</b></ins> Look at the pageview trends over any timespan -- the current "price" of the article is its latest daily pageview count and is displayed next to the article name alongside its percent change! Click on the article name to look at its Wikipedia page!
  </li>
  <li>
    <ins><b>Buy and Sell Articles</b></ins> Click on a "Buy" button to buy an article and a "Sell" button to sell it if you own it -- use the number inputs to buy or sell a custom amount!
  </li>
  <li>
    <ins><b>Portfolio Banner</b></ins> See which articles you own and their average buy prices -- click on one to see its pageview trends!
  </li>
  <li>
    <ins><b>Leaderboard Banner</b></ins> Check how other players are doing -- the card displays their portfolio value and daily percent change. Click on the one to see more information about the player's portfolio!
  </li>
  <li>
    <ins><b>Trending Articles</b></ins> Look at Wikipedia's trending articles for the day! Click on one to see its pageview trends!
  </li>
  <li>
    <ins><b>More Stuff</b></ins> Click on these buttons to open the game chat, see players in the game (or leave the game), and check the game's settings!
  </li>
</ol>

<img style="max-width: 100%; max-height: 80vh;display: block; margin-left: auto; margin-right: auto;" src="{{url_for('static', filename='img/tutorial/tutorial-main.png')}}" alt="Tutorial Image">

</div>

<!-- JOIN GAME MODAL -->
<div class="modal" id="join-game-modal">
    <div class="modal-dialog" role="document">
    <div class="modal-content modal-rounder-corners">
  
    <!-- MODAL HEADER -->
    <div class="modal-header">
        <h5 class="modal-title">JOIN GAME!</h5>
  
        <!-- CLOSE BUTTON -->
        <button type="button" class="close" id="join-game-modal-close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  
    <!-- MODAL BODY -->
    <!-- slightly different than the main page :) -->
    <div class="modal-body">
        <form action="{{ url_for('game.join_game') }}" method="POST" id="join-game-modal-form">
            <input type="hidden" name="user_id" value="{{ current_user.id }}">
            <input type="text" name="game_id" id="join-game-modal-game-id" readonly="true" placeholder="Game ID">
        </form>
  
        <div id="join-game-modal-info">
            <p>Enter a game ID!</p>
        </div>
    </div>
    
    <!-- MODAL FOOTER -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="join-game-modal-cancel">Cancel</button>
        <button type="submit" class="btn btn-primary" id="join-game-modal-join" form="join-game-modal-form">Join</button>
    </div>
  
    </div>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/invite-page.js') }}"></script>

{% endblock %}

