{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-2">
    </div>
    
    <div class="col-md-4">
        <h3 class="title">Login</h3>
        <br>
        <div class="box">
            <form method="POST" action="/login">
                <input type="hidden" id="next" name="next" value="{{ next }}">

                <div class="input-group">
                    <span class="input-group-text"><i class="bi-envelope"></i></span>
                    <input class="form-control" type="email" name="email" placeholder="Email" autofocus="">
                </div>
                
                <div class="input-group">
                    <span class="input-group-text"><i class="bi-lock"></i></span>
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" name="remember"> Remember me</label>
                </div>

                <br>
                
                <button class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
    
    <div class="col-md-6">
    </div>
    
</div>

<!-- FILL OUT NEXT FORM WITH URL PARAM-->
<!-- I CANNOT BELIEVE THIS WOKRS -->
<script type="text/javascript">
    let next_url = window.location.href.split("next=")[1];
    if (next_url !== undefined) {
        // Decode next_url 
        next_url = decodeURIComponent(next_url);
        document.getElementById("next").value = next_url;
    }
</script>

{% endblock %}