{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-2">
    </div>
    
    <div class="col-md-4">
        <h3 class="title">Login</h3>
        <div class="box">
            <form method="POST" action="/login">
                    <input class="form-control" type="email" name="email" placeholder="Email" autofocus="">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                    <div class="checkbox">
                        <label><input type="checkbox" name="remember"> Remember me</label>
                    </div>
                <button class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
    
    <div class="col-md-6">
    </div>
    
</div>

{% endblock %}