{% extends "base.html" %}

{% block content %}

<div class="gets-blurred">

<div class="row">
    <div class="col-md-8">
        <h2>
            Welcome<span id=title-name></span>! 
        </h2>
        <h5>
            <span id="title-cash"></span>
            <span id="title-rank">Loading <img class="inline-image" src="{{url_for('static', filename='img/loading.gif')}}"></span>
            <!-- rank loads after cash, usually (always?) so put the loading message there  -->
        </h5>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary float-right" style="margin:0.1rem;" data-toggle="modal" data-target="#settings-modal" id="settings-modal-open-button" disabled="true"><i class="bi-gear-fill"></i></button>
        <button class="btn btn-primary float-right" style="margin:0.1rem;" data-toggle="modal" data-target="#players-modal" id="players-modal-open-button" disabled="true"><i class="bi-people-fill"></i></button>
        <button class="btn btn-primary float-right" style="margin:0.1rem;" data-toggle="modal" data-target="#chat-modal"  id="chat-modal-open-button" disabled="true"><i class="bi-chat-dots-fill"></i></button>
    </div> 
</div>

<!-- LEADERBOARD BANNER -->
<div class="row">
    <div style="overflow-x: scroll; height: 100%;">
        <div style="display: inline-flex; height: 100%;" id="leaderboard-banner">
        </div>
    </div>
</div>

<hr>

<!-- SCROLLABLE PORTFOLIO BANNER! I FINALLY FIGURED IT OUT -->
<!-- it's bascially a long inline-flex div inside one with a scroll overflow :) -->
<div class="row">
    <div style="overflow-x: scroll; height: 100%;">
        <div style="display: inline-flex; height: 100%;" id="portfolio-banner">
        </div>
    </div>
</div>

<hr>

<!-- REVERSE COLUMN ORDER FOR PHONE :) -->
<div class="row flex-column-reverse flex-md-row">

    <!-- LEFT/BOTTOM COLUMN FOR TRENDING ARTICLES -->
    <div class="col-md-2">
        <h3>TRENDING!</h3>
        <div id="trending-articles" style="max-height: 70vh; overflow-y: scroll;">
        </div>
    </div>

    <!-- MIDDLE COLUMN FOR GRAPH -->
    <div class="col-md-7" id="main-info-div">
        <h3 id="title"></h3>
        <h5 id="price"></h5>
        <h5 id="description">&nbsp;</h5>
        <hr>
        <div class="row" id="timespan-selectors">
            <button class="btn-timespan" id="week" onclick="graph_time('week')">Weekly</button>
            <button class="btn-timespan" id="month" onclick="graph_time('month')">Monthly</button>
            <button class="btn-timespan" id="year" onclick="graph_time('year')">Yearly</button>
            <button class="btn-timespan" id="all" onclick="graph_time('all')">All</button>
        </div>
        <div id="graph"></div>
    </div>

    <!-- RIGHT/TOP COLUMN FOR SEARCH AND TX INFO -->
    <div class="col-md-3" id="tx-div">
        <h3>SEARCH!</h3>
        <input list="search-datalist" id="search-input" placeholder="">
        <datalist id="search-datalist"></datalist>
        <button onclick="load_article()"" id="search-button">Search</button>
    <hr>
        <div id="buy-div">
            <h3>BUY!</h3>
            <button class="btn-buy" id="buy-1" onclick="new_tx(1,'buy')" disabled="true">Buy 1</button> <br>
            <button class="btn-buy" id="buy-5" onclick="new_tx(5,'buy')" disabled="true">Buy 5</button> <br>
            <div class="input-group" style="display:flex;">
                <span class="input-group-text">Buy</span>
                <input type="number" id="custom-buy-amt" min="1" value="10" style="flex:1;"></input>
                <button class="btn-buy" id="buy-custom" onclick="new_tx($('#custom-buy-amt').val(),'buy')" disabled="true">Buy</button>
            </div>
        </div>
    <hr>
        <div id="sell-div">
            <h3>SELL!</h3>
            <p><span id="article-info"></span></p>
            <button class="btn-sell" id="sell-1" onclick="new_tx(1,'sell')" disabled="true">Sell 1</button> <br>
            <div class="input-group" style="display:flex;">
                <span class="input-group-text">Sell</span>
                <input type="number" id="custom-sell-amt" min="1" value="10"></input>
                <button class="btn-sell" id="sell-custom" onclick="new_tx($('#custom-sell-amt').val(),'sell')" disabled="true">Sell</button>
            </div>
        </div>
    </div>
</div>

</div>

<!-- MODALS -->
{% include "modals/leaderboard.html" %}
{% include "modals/chat.html" %}
{% include "modals/players.html" %} <!-- this also has the leave-confirm-modal -->
{% include "modals/settings.html" %} <!-- this also has the delete-confirm-modal -->

<script src="{{url_for('static', filename='js/plotly-2.20.0.min.js')}}"></script>

<!-- JS FILES TO DEFINE FUNCITONS FOR VARIOUS ELEMENTS (refer to comment at the top of play-page-main.js) -->
<!-- NOTHING REALLY RUNS IN THESE -->
<script src="{{url_for('static', filename='js/play-page-inputs.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-settings.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-tx-nav.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-portfolio.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-leaderboard.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-trending.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-chat.js')}}"></script>

<!-- THIS IS THE MAIN JS FILE FOR THE PLAY PAGE -->
<script src="{{url_for('static', filename='js/play-page-main.js')}}"></script>

{% endblock %}