{% extends "base.html" %}

{% block content %}

<div class="gets-blurred">

<div class="row">
    <div class="col-md-10">
        <h2>
            Welcome<span id=game-name></span>! 
        </h2>
        <h4>
            <span id="title-cash"></span>
            <span id="title-rank"></span>
        </h4>
    </div>
    <div class="col-md-2"> <!-- I don't like this column-based solution, but it's fine :) -->
        <button class="btn btn-primary float-right" onclick="show_chat_modal();">Chat</button>
        <button class="btn btn-primary float-right" onclick="show_game_settings_modal();" id="game-settings-open-button" disabled="true">Settings</button>
    </div> 
</div>

<!-- LEADERBOARD BANNER -->
<div class="row">
    <div style="overflow-x: scroll; height: 100%;">
        <div style="display: inline-flex; height: 100%;" id="leaderboard-banner">
            <img class="loading-image" src="{{url_for('static', filename='img/loading.gif')}}" alt="Loading...">
            <!-- <div class="leaderboard-neutral blurred-container" role="alert">
                marcduck
                <br>
                113,000 (📈 12.95%)
            </div> -->
        </div>
    </div>
</div>

<hr>

<!-- SCROLLABLE PORTFOLIO BANNER! I FINALLY FIGURED IT OUT -->
<!-- it's bascially a long inline-flex div inside one with a scroll overflow :) -->
<div class="row">
    <div style="overflow-x: scroll; height: 100%;">
        <div style="display: inline-flex; height: 100%;" id="portfolio-banner">
            <img class="loading-image" src="{{url_for('static', filename='img/loading.gif')}}" alt="Loading...">
        </div>
    </div>
</div>

<hr>

<!-- REVERSE COLUMN ORDER FOR PHONE :) -->
<div class="row flex-column-reverse flex-md-row">

    <!-- LEFT/BOTTOM COLUMN FOR TRENDING ARTICLES -->
    <div class="col-md-2">
        <h3>TRENDING!</h3>
        <div id="trending-articles" style="max-height: 70vh; overflow-y: scroll;">
            <img class="loading-image" src="{{url_for('static', filename='img/loading.gif')}}" alt="Loading...">
        </div>
    </div>

    <!-- MIDDLE COLUMN FOR GRAPH -->
    <div class="col-md-7">
        <h3 id="graph-title"></h3>
        <h5 id="graph-desc">&nbsp;</h5>
        <hr>
        <div class="row">
            <button id="graph-week-button" onclick="graph_time('week')">Weekly</button>
            <button id="graph-month-button" onclick="graph_time('month')">Monthly</button>
            <button id="graph-year-button" onclick="graph_time('year')">Yearly</button>
            <button id="graph-all-button" onclick="graph_time('all')">All</button>
        </div>
        <div id="transaction-graph">
            <img class="loading-image" src="{{url_for('static', filename='img/loading.gif')}}" alt="Loading...">
        </div>
    </div>

    <!-- RIGHT/TOP COLUMN FOR SEARCH AND TX INFO -->
    <div class="col-md-3">

        <h3>SEARCH!</h3>
        <input list="search-datalist" id="search-input" placeholder="">
        <datalist id="search-datalist"></datalist>
        <button onclick="load_article()"" id="search-button">Search</button>

    <hr>

        <h3>BUY!</h3>
        <button id="buy-1-button" onclick="new_tx(1,'buy')">Buy 1</button> <br>
        <button id="buy-5-button" onclick="new_tx(5,'buy')">Buy 5</button> <br>
        <input type="number" id="custom-buy-input" min="1" value="10"></input> <br>
        <button id="buy-custom-button" onclick="new_tx(document.getElementById('custom-buy-input').value,'buy')">Buy</button>

    <hr>

    <div id="sell-div">
        <h3>SELL!</h3>
        <p><span id="article-info"></span></p>
        <button id="sell-1-button" onclick="new_tx(1,'sell')">Sell 1</button> <br>
        <input type="number" id="custom-sell-input" min="1" value="10"></input> <br>
        <button id="sell-custom-button" onclick="new_tx(document.getElementById('custom-sell-input').value,'sell')">Sell</button>
    </div>

    </div>

</div>

</div>

<!-- SETTINGS MODAL -->
<div class="modal" id="game-settings-modal">
    <div class="modal-dialog" role="document">
    <div class="modal-content">

    <!-- MODAL HEADER -->
    <div class="modal-header">
        <h5 id="game-settings-modal-title">
            GAME SETTINGS :)
        </h5>

        <!-- CLOSE BUTTON -->
        <button type="button" class="close" id="game-settings-modal-close-symbol" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- MODAL BODY -->
    <div class="modal-body">

        <!-- Mimic the new game form with some things disabled :) -->
        <!-- DISABLED FIELDS AREN'T BEING SENT! -->
        <form action="{{ url_for('game.change_settings') }}" method="POST" id="settings-form">
            <input type="hidden" name="user_id" value="{{ current_user.user_id }}">
            
            <label for="settings-game-id">Game ID</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="game_id" id="settings-game-id" readonly="true" value="">
            </div>
  
            <label for="settings-game-name">Game Name</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input class="form-control" type="text" name="game_name" placeholder="New Game" autofocus="" id="settings-game-name" readonly="true">
            </div>
            
            <label for="settings-starting-cash">Starting Cash</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="number" name="starting_cash" id="settings-starting-cash" readonly="true" value="">
            </div>
  
            <label for="settings-views-limit">Pageviews Lower Limit</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="number" name="views_limit" id="settings-views-limit" min="1" readonly="true" value="">
            </div>
  
            <hr>
            
            <h6> Show Other Players':</h6>
  
            <div class="checkbox">
                <label><input type="checkbox" name="show_cash" id="settings-show-cash" readonly="true"> Cash</label>
            </div>
  
            <div class="checkbox">
                <label><input type="checkbox" name="show_articles" id="settings-show-articles" readonly="true"> Articles Owned</label>
            </div>
  
            <div class="checkbox">
                <label >
                    <input type="checkbox" name="show_number" id="settings-show-number" readonly="true">
                    <span style="color: #E5E5E5;" id="settings-show-number-label"> Number of Each Article</span>
                </label>
            </div>
  
            <hr>
  
            <div class="checkbox">
                <label>
                    <!-- WHY DOES READONLY NOT WORK HERE? -->
                    <input type="checkbox" name="public_game" id="settings-public-game" disabled="true"> 
                    <span style="color: #E5E5E5;"> Make Game Public</span>
                </label>
            </div>
        </form>

    </div>
    
    <!-- MODAL FOOTER -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="game-settings-modal-close-button">Close</button>
        <button type="submit" class="btn btn-primary" id="game-settings-modal-save-button" form="settings-form" disabled="true">Save Changes</button>
    </div>

    </div>
    </div>
</div>


<!-- LEADERBOARD MODAL -->
<!-- CONTENT WILL BE UPDATED ON A PER PLAYER BASIS -->
<div class="modal" id="player-leaderboard-modal">
    <div class="modal-dialog" role="document">
    <div class="modal-content">

    <!-- MODAL HEADER -->
    <div class="modal-header">
        <h5 id="player-leaderboard-modal-title"></h5>

        <!-- CLOSE BUTTON -->
        <button type="button" class="close" id="player-leaderboard-modal-close-symbol" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- MODAL BODY -->
    <div class="modal-body">
        
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="row">
                    <h6 id="player-leaderboard-modal-sentence"></h6>
                </div>
        
                <!-- LIST OF ARTICLES -->
                <div class="row" id="player-leaderboard-modal-articles">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        

    </div>
    
    <!-- MODAL FOOTER -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="player-leaderboard-modal-close-button">Close</button>
    </div>

    </div>
    </div>
</div>

<!-- const CHAT_MODAL = "chat-modal";
const CHAT_MODAL_CLOSE_SYMBOL = "chat-modal-close-symbol";
const CHAT_MODAL_CLOSE_BUTTON = "chat-modal-close-button";
const CHAT_MODAL_TITLE = "chat-modal-title";

const CHAT_MODAL_TEST = "chat-modal-TEST";

const CHAT_FORM_USER_ID = "chat-form-user-id";
const CHAT_FORM_GAME_ID = "chat-form-game-id";
const CHAT_FORM_NAME = "chat-form-name";
const CHAT_FORM_MESSSAGE = "chat-form-message";
const CHAT_FORM_SEND_BUTTON = "chat-form-send-button"; -->

<!-- CHAT MODAL -->
<div class="modal" id="chat-modal">
    <div class="modal-dialog" role="document">
    <div class="modal-content">

    <!-- MODAL HEADER -->
    <div class="modal-header">
        <h5 id="chat-modal-title"></h5>

        <!-- CLOSE BUTTON -->
        <button type="button" class="close" id="chat-modal-close-symbol" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- MODAL BODY -->
    <div class="modal-body">
        
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="chat-modal-main">
        
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- FORM FOR CHAT -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <form id="chat-form" action="{{ url_for('chat.send_chat') }}" method="POST">
                <input type="hidden" name="user_id" id="chat-form-user-id" value="{{ current_user.user_id }}">
                <input type="hidden" name="game_id" id="chat-form-game-id" value="">
                <input type="hidden" name="name" id="chat-form-name" value="">

                <input type="text" name="message" id="chat-form-message" placeholder="Type a message...">
                <button type="submit" class="btn btn-primary" id="chat-form-send-button">Send</button>

            </form>
            </div>
            <div class="col-md-2"></div>
        </div>
        

    </div>
    
    <!-- MODAL FOOTER -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="chat-modal-close-button">Close</button>
    </div>

    </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/plotly-2.20.0.min.js')}}"></script>

<!-- JS FILES TO DEFINE FUNCITONS FOR VARIOUS ELEMENTS (refer to comment at the top of play-page-main.js) -->
<!-- NOTHING REALLY RUNS IN THESE -->
<script src="{{url_for('static', filename='js/play-page-inputs.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-settings.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-tx-nav.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-portfolio.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-leaderboard.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-trending.js')}}"></script>
<script src="{{url_for('static', filename='js/play-page-chat.js')}}"></script>

<!-- THIS IS THE MAIN JS FILE FOR THE PLAY PAGE -->
<script src="{{url_for('static', filename='js/play-page-main.js')}}"></script>

{% endblock %}