{% extends "base.html" %}

{% block content %}



<hr>

<div class="row">
    <!-- REST PASSWORD -->
    <form class="col-md-4" method="POST" action="{{ url_for('admin.reset_password_post') }}">

        <h3>Reset Password</h3>

        <input type="hidden" id="token" name="token" value="{{ token }}">

        <div class="input-group">
            <span class="input-group-text"><i class="bi-lock"></i></span>
            <input class="form-control" type="password" name="new_password" placeholder="New Password">
        </div>

        <div class="input-group">
            <span class="input-group-text"><i class="bi-lock"></i></span>
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm New Password">
        </div>
        <p class="text-danger" id="password-error"></p>

        <button class="btn btn-primary" id="change-password-button" type="submit" disabled>Change Password</button>

        <script type="text/javascript">
            invalid_password = false;
            // Check if password and confirmation match
            let new_password = document.getElementsByName("new_password")[0];
            let confirmation = document.getElementsByName("confirmation")[0];
            confirmation.addEventListener("keyup", function() {
                if (new_password.value !== confirmation.value) {
                    $("#password-error").html("New passwords do not match.");
                    $("#change-password-button").prop("disabled", true);
                } else {
                    document.getElementById("password-error").innerHTML = "";
                    $("#change-password-button").prop("disabled", false);
                }
            });
            new_password.addEventListener("keyup", function() {
                if (new_password.value !== confirmation.value) {
                    $("#password-error").html("New passwords do not match.");
                    $("#change-password-button").prop("disabled", true);
                } else {
                    document.getElementById("password-error").innerHTML = "";
                    $("#change-password-button").prop("disabled", false);
                }
            });
        </script>
    </form>
</div>

{% endblock %}