{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-2">
    </div>

    <div class="col-md-4">
        <h3 class="title">Sign Up</h3>
        <div class="box">
            <form method="POST" action="/signup">

                <input type="hidden" id="next" name="next" value="">

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input class="form-control" type="email" name="email" placeholder="Email" autofocus="">
                </div>
                
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" name="name" placeholder="Username">
                    <!-- CALLING IT A USERNAME, BUT IT'S "NAME" EVERYWHERE ELSE IN THE CODE-->
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                
                <button class="btn btn-primary">Sign Up</button>
                
            </form>
        </div>
    </div>

    <div class="col-md-6">
    </div>

</div>

<!-- FILL OUT NEXT FORM WITH URL PARAM-->
<!-- I CANNOT BELIEVE THIS WOKRS -->
<script type="text/javascript">
    let next_url = window.location.href.split("next=")[1];
    if (next_url !== undefined) {
        // Decode next_url 
        next_url = decodeURIComponent(next_url);
        document.getElementById("next").value = next_url;
    }
</script>

{% endblock %}