.loading-image {
  width: 5em;
  height: 5em;
  text-align: center;
}

.inline-image {
    height: 1em;
}

.leaderboard-up {
  position: relative;
  padding: 0.25rem 1rem;
  margin: 0rem 0.25rem;
  border: 1px solid;
  border-radius: 0.25rem;

  border-color: #000000;
  color: #ffffff;
  background-color: #4668ff;

  white-space: nowrap;
}

.leaderboard-down {
  position: relative;
  padding: 0.25rem 1rem;
  margin: 0rem 0.25rem;
  border: 1px solid;
  border-radius: 0.25rem;

  border-color: #000000;
  color: #ffffff;
  background-color: #c13030;

  white-space: nowrap;
}

.portfolio-card {
  position: relative;
  padding: 0.25rem 1rem;
  margin: 0rem 0.25rem;
  border: 1px solid;
  border-radius: 0.25rem;

  border-color: #000000;
  color: #000000;
  background-color: #f8f9fa;

  white-space: nowrap;
}

.trending-card {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem;
  border: 1px solid;
  border-radius: 0.25rem;

  border-color: #000000;
  color: #000000;
  background-color: #ffffff;

  white-space: nowrap;
}

.blurred-container{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.unblurred-modal {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #ffffff;
}
