.loading-image {
  width: 5em;
  height: 5em;
  text-align: center;
}

.inline-image {
    height: 1em;
}

.leaderboard-up {
  position: relative;
  padding: 0.25rem 1rem;
  margin: 0rem 0.25rem;
  border: 1px solid;
  border-radius: 0.25rem;

  border-color: #000000;
  color: #ffffff;
  background-color: #4668ff;

  white-space: nowrap;
}

.leaderboard-down {
  position: relative;
  padding: 0.25rem 1rem;
  margin: 0rem 0.25rem;
  border: 1px solid;
  border-radius: 0.25rem;

  border-color: #000000;
  color: #ffffff;
  background-color: #c13030;

  white-space: nowrap;
}

.leaderboard-neutral {
  position: relative;
  padding: 0.25rem 1rem;
  margin: 0rem 0.25rem;
  border: 1px solid;
  border-radius: 0.25rem;

  border-color: #000000;
  color: #ffffff;
  background-color: #f8f9fa;

  white-space: nowrap;
}

.portfolio-card {
  position: relative;
  padding: 0.25rem 1rem;
  margin: 0rem 0.25rem;
  border: 1px solid;
  border-radius: 0.25rem;

  border-color: #000000;
  color: #000000;
  background-color: #f8f9fa;

  white-space: nowrap;
}

.trending-card {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem;
  border: 1px solid;
  border-radius: 0.25rem;

  border-color: #000000;
  color: #000000;
  background-color: #ffffff;

  white-space: nowrap;
}

.chat-container {
  position: relative;
  padding: 0rem;
  margin: 0rem;

  max-height: 60vh;
  overflow-y: scroll;
}

.chat-message {
  position: relative;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0rem;
  border: 1px solid;
  border-radius: 0.25rem;

  border-color: #000000;
  color: #000000;
  background-color: #f8f9fa;
}

.blurred-container{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
