<div class="modal" id="leaderboard-modal">
    <div class="modal-dialog" role="document">
    <div class="modal-content modal-rounder-corners">

    <!-- MODAL HEADER -->
    <div class="modal-header">
        <h4 class="modal-title">Leaderboard</h4>
        <!-- CLOSE BUTTON -->
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- MODAL BODY -->
    <div class="modal-body modal-scroll">
        
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <!-- SUMMARY SENTENCE -->
                <div class="row">
                    <h6 id="summary-sentence"></h6>
                </div>

                <!-- GRAPH -->
                <div class="row">
                    <div class="col-md-12" id="portfolio-graph" style="width:20rem; height:10rem; overflow: hidden;"></div>
                </div>
        
                <!-- LIST OF ARTICLES -->
                <div class="row">
                    <div class="col-md-12" id="articles-list-title"></div>
                </div>
                <div class="row" id="articles-list">
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
        

    </div>
    
    <!-- MODAL FOOTER -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>

    </div>
    </div>
</div>